.beneficios {
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
}

.beneficios__item {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	width: calc(100% - 4rem);
}

.beneficios__item:nth-child(odd) {
	background-color: var(--cinza);
}

.beneficios__item--titulo {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	text-transform: uppercase;
}

.beneficios__item--texto {
	font-size: 1.1rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

.beneficios__item--imagem {
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	height: 250px;
	margin-top: 1rem;
	max-width: 740px;
	object-fit: cover;
	object-position: left top;
	width: 100%;
}

.beneficios__item--caracteristicas {
	background-position: top 0 left 50%;
	background-repeat: no-repeat;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.75;
	margin-bottom: 1rem;
	padding-top: 55px;
	text-align: center;
}

.beneficios__item:last-child {
		background-image: linear-gradient(0deg, var(--branco) 0%, var(--cinza-medio) 74%);
}

@media screen and (min-width: 768px) {
	.beneficios__item {
		padding: 4rem 10%;
		width: 80%;
	}

	.beneficios__item--imagem {
		height: 350px;
	}
}

@media screen and (min-width: 1024px) {
	.beneficios__item {
		align-items: center;
		justify-content: space-between;
	}

	.beneficios__item:nth-child(odd) {
		flex-direction: row;
	}

	.beneficios__item:nth-child(even) {
		flex-direction: row-reverse;
	}

	.beneficios__item--imagem {
		width: 50%;
	}

	.beneficios__item--container {
		width: 45%;
	}
}